$pine-green: rgb(0, 120, 105);
$lightning-yellow: rgb(250, 170, 35);
$eastern-blue: rgb(0, 150, 165);
$french-rose: rgb(240, 95, 145);
$spice: rgb(120, 85, 70);
$denim: rgb(20, 100, 190);
$fruit-salad: rgb(75, 175, 80);
$light-sky-blue: rgb(130, 210, 250);
$cinnabar: rgb(230, 75, 25);

$min-width-for-indent: 900px;
$margin-base: 8px;
$margin-increment: 8px;

.mat-card {
    border-style: solid;
}

.mat-card-content {
    padding: 0px;
}

.mat-card-content .mat-card-content {
    padding: 16px;
}

.mat-card-header { 
    color: white;
}

.pine-green {
    border-color: $pine-green;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 8);
        margin-right: $margin-base + ($margin-increment * 0);
    }
    .mat-card-header {
        background-color: $pine-green;
    }
}

.lightning-yellow {
    border-color: $lightning-yellow;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 7);
        margin-right: $margin-base + ($margin-increment * 1);
    }
    .mat-card-header {
        background-color: $lightning-yellow;
    }
}

.eastern-blue {
    border-color: $eastern-blue;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 6);
        margin-right: $margin-base + ($margin-increment * 2);
    }
    .mat-card-header {
        background-color: $eastern-blue;
    }
}

.french-rose {
    border-color: $french-rose;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 5);
        margin-right: $margin-base + ($margin-increment * 3);
    }
    .mat-card-header {
        background-color: $french-rose;
    }
}

.spice {
    border-color: $spice;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 4);
        margin-right: $margin-base + ($margin-increment * 4);
    }
    .mat-card-header {
        background-color: $spice;
    }
}

.denim {
    border-color: $denim;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 3);
        margin-right: $margin-base + ($margin-increment * 5);
    }
    .mat-card-header {
        background-color: $denim;
    }
}

.fruit-salad {
    border-color: $fruit-salad;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 2);
        margin-right: $margin-base + ($margin-increment * 6);
    }
    .mat-card-header {
        background-color: $fruit-salad;
    }
}

.light-sky-blue {
    border-color: $light-sky-blue;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 1);
        margin-right: $margin-base + ($margin-increment * 7);
    }
    .mat-card-header {
        background-color: $light-sky-blue;
    }
}

.cinnabar {
    border-color: $cinnabar;
    @media screen and (min-width: $min-width-for-indent) {
        margin-left: $margin-base + ($margin-increment * 0);
        margin-right: $margin-base + ($margin-increment * 8);
    }
    .mat-card-header {
        background-color: $cinnabar;
    }
}