<mat-card class="example-card">
 
    <mat-card-content>
        <mat-card-header>
            
            <mat-card-title>This is an event title</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel scelerisque massa, at sollicitudin purus. Pellentesque vitae nisi risus. Aenean erat tortor, suscipit pretium sollicitudin tincidunt, sollicitudin sit amet justo. Nulla venenatis turpis a augue maximus, a sagittis nisi imperdiet. Proin leo felis, iaculis in velit at, pharetra tristique odio.
            </p>
        </mat-card-content>
        
        <mat-card-actions>
            <button mat-button>MARK AS READ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card-content>
    
</mat-card>

<mat-card class="example-card">
        
    <mat-card-content>
        <mat-card-header>
            
            <mat-card-title>This is an event title</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel scelerisque massa, at sollicitudin purus. Pellentesque vitae nisi risus. Aenean erat tortor, suscipit pretium sollicitudin tincidunt, sollicitudin sit amet justo. Nulla venenatis turpis a augue maximus, a sagittis nisi imperdiet. Proin leo felis, iaculis in velit at, pharetra tristique odio.
            </p>
        </mat-card-content>
        
        <mat-card-actions>
            <button mat-button>MARK AS READ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card-content>
    
</mat-card>