<mat-list>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Lab Results</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Location</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Medical</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Nursing</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Pathology</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Physiotherapy</mat-checkbox>
    </mat-list-item>  
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Occupational Therapy</mat-checkbox>
    </mat-list-item>  
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Dietics</mat-checkbox>
    </mat-list-item>  
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <mat-checkbox labelPosition="before">Procedural</mat-checkbox>
    </mat-list-item>  
</mat-list>